.Home {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    &__Logo {
        height: 3em;
        display: block;
    }

    &__Login {
        display: flex;
        flex-direction: row;
    }
}